@import '../sass/variaveis';
@import '../sass/mixin';
@import '../sass/resert';
@import '../sass/header';
@import '../sass/footer';

body {
    min-height: 100vh;
    @include DisplayFlex(column, flex-start);
    font-family: 'Poppins', sans-serif;
}

.conteudo {
    @include tamanho(inherit, 96vw);
    @include DisplayFlex(row, space-between);
}

#banner-titulo {
    @include tamanho(588px, 100%);
    @include DisplayFlex(column, flex-start, center);

    h1 {
        font-size: map-get($tamanho, Titulos);
        font-weight: map-get($densidade, Leve);
        text-align: center;
        margin-top: 30px;
        color: $tonalidadeEscura;
        font-style: italic;
    }

    img {
        @include tamanho(400px, 380px);
        margin-top: 25px;
    }
}

#barra-sub-titulo {
    @include tamanho(150px, 100%);
    @include DisplayFlex(row, center, center);
    background-color: $tonalidadeEscura;

    h2 {
        font-size: map-get($tamanho, subTitulo);
        font-weight: map-get($densidade, Media);
        text-align: center;
        color: $neutra;
    }
}

main {
    min-height: 350px;
    width: 100%;
    @include DisplayFlex(row, center);
    
    .itens-main {
        @include DisplayFlex(column);

        h2 {
            color: $tonalidadeEscura;
            margin-top: 30px;
            font-size: map-get($tamanho, grau6);
            font-weight: map-get($densidade, Regular);
            border-bottom: 3px solid $tonalidadeEscura;
        } 
    
        #conteudo-card {
            min-height: 400px;
            width: 1550px;
            @include DisplayFlex(row, space-between, center);
            margin-left: auto;
            margin-right: auto;

            .card {
                @include tamanho(280px, 335px);
                @include DisplayFlex(column, center, center);
                background-color: $tonalidadeEscura;
                box-shadow: $sombreamento;
                border-radius: 8px;
                gap: 8px;

                h3 {
                    color: $neutra;
                    font-size: map-get($tamanho, grau1);
                    text-align: center;
                    text-transform: capitalize;
                }

                img {
                    @include tamanho(150px, 150px);
                }
            }
        }
    }
}