// Paletas de cores
$corPrincipal: #FF7A7A;
$corSegundaria: #E75C5C;
$tonalidadeEscura: #C8494E;
$neutra: #fff;
$escura: #000;

// Tamanho da letra
$tamanho: (

    "Titulos": 2.8rem,
    "subTitulo": 1.9rem,
    "grau1": 1.8rem,
    "grau2": 1.045rem,
    "grau3": 1.4rem,
    "grau4": 1.1rem,
    "grau5": 0.9rem,
    "grau6": 2.3rem

);

// Densidade da letra
$densidade: (
    
    "ExtraLeve": 200,
    "Leve": 300,
    "Regular": 400,
    "Media": 500,
    "Bold": 600

);

// Sombra
$sombreamento: 10px 10px 3px #FFACA9;

@mixin DisplayFlex ($direction: row, $justify: flex-start, $align: flex-start) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align
    
}

@mixin tamanho ($altura, $largura) {
    
    height: $altura;
    width: $largura

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: normal;
}

p {
    line-height: 1.5;
}

body {
    min-height: 100vh;
    @include DisplayFlex(column, flex-start);
    font-family: 'Poppins', sans-serif;
}

.conteudo {
    @include tamanho(inherit, 96vw);
    @include DisplayFlex(row, space-between);
}

header {
    @include tamanho(180px, 100%);
    @include DisplayFlex(row, center);
    background-color: $corPrincipal;

    #logo {
        @include tamanho(180px, 28.80vw);
        @include DisplayFlex(column, center, center);

        img {
            @include tamanho(70px, 283px);
        }

        h2 {
            color: $neutra;
            font-weight: map-get($tamanho, subTitulo);
            text-transform: capitalize;
        }
    }

    #menu {
        @include tamanho(180px, 33vw);
        @include DisplayFlex(row, space-between);

        nav, #menu-nav-conteudo {
            @include tamanho(inherit, 370px);

            #menu-nav-conteudo {
                @include DisplayFlex(row, space-between, center);

                li {
                    position: relative;
                    @include DisplayFlex(row, flex-start, center);
                    text-transform: capitalize;

                    img {
                        @include tamanho(27px, 29px);
                        margin-right: 5px;
                        margin-left: 5px;
                    }

                    a {
                        color: $neutra;
                        font-size: map-get($tamanho, grau1);
                    }

                    #menu-drop {
                        position: absolute;
                        top: 45px;
                        left: -288px;
                        background-color: $corPrincipal;
                        @include tamanho(300px, 480px);
                        @include DisplayFlex(column, center, center);
                        gap: 40px;

                        li {
                            border-bottom: 3px solid $escura;

                            a {
                                font-size: map-get($tamanho, grau1);
                                display: block;
                                height: 35px;


                                &:hover {
                                    background-color: $tonalidadeEscura;
                                }
                            }
                        }
                    }
                }
            }
        }

        #perfil {
            @include tamanho(180px, 176px);
            @include DisplayFlex(column, center, center);

            #perfil-foto {
                @include tamanho(100px, 100px);
                @include DisplayFlex(row, center, center);

                img {
                    @include tamanho(inherit, inherit);
                    border-radius: 50%;
                }
            }

            #perfil-sair {
                @include tamanho(50px, 176px);
                @include DisplayFlex(row, center, center);

                img {
                    @include tamanho(35px, 35px);
                    margin-right: 8px;
                }

                span {
                    color: $neutra;
                    font-weight: map-get($densidade, Media);
                    font-size: map-get($tamanho, grau3);
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

#banner-titulo {
    @include tamanho(588px, 100%);
    @include DisplayFlex(column, flex-start, center);

    h1 {
        font-size: map-get($tamanho, Titulos);
        font-weight: map-get($densidade, Leve);
        text-align: center;
        margin-top: 30px;
        color: $tonalidadeEscura;
        font-style: italic;
    }

    img {
        @include tamanho(400px, 380px);
        margin-top: 25px;
    }
}

#barra-sub-titulo {
    @include tamanho(150px, 100%);
    @include DisplayFlex(row, center, center);
    background-color: $tonalidadeEscura;

    h2 {
        font-size: map-get($tamanho, subTitulo);
        font-weight: map-get($densidade, Media);
        text-align: center;
        color: $neutra;
    }
}

main {
    min-height: 350px;
    width: 100%;
    @include DisplayFlex(row, center);
    
    .itens-main {
        @include DisplayFlex(column);

        h2 {
            color: $tonalidadeEscura;
            margin-top: 30px;
            font-size: map-get($tamanho, grau6);
            font-weight: map-get($densidade, Regular);
            border-bottom: 3px solid $tonalidadeEscura;
        } 
    
        #conteudo-card {
            min-height: 400px;
            width: 1550px;
            @include DisplayFlex(row, space-between, center);
            margin-left: auto;
            margin-right: auto;

            .card {
                @include tamanho(280px, 335px);
                @include DisplayFlex(column, center, center);
                background-color: $tonalidadeEscura;
                box-shadow: $sombreamento;
                border-radius: 8px;
                gap: 8px;

                h3 {
                    color: $neutra;
                    font-size: map-get($tamanho, grau1);
                    text-align: center;
                    text-transform: capitalize;
                }

                img {
                    @include tamanho(150px, 150px);
                }
            }
        }
    }
}

footer {
    @include tamanho(290px, 100%);
    @include DisplayFlex(column, flex-start, center);
    background-color: $corPrincipal;
    margin-top: 25px;

    .itens-footer {
        @include tamanho(200px, inherit);
        @include DisplayFlex(column, center);
        gap: 10px;

        span {
            font-size: map-get($tamanho, grau3);
            color: $neutra;
            margin-left: 28px;
        }
    }

    #direitos-footer {
        @include tamanho(90px, inherit);
        @include DisplayFlex(row, center, center);
        background-color: #EC6868;

        span {
            font-size: map-get($tamanho, grau3);
            color: $neutra;
        }
    }
}